@using NguyenDuyKhanh_211202428_De_1.Models;


@model List<Category>

<div class="navigation-agileits">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li><a href="javascript:void(0)">All</a></li>
                    <!-- Mega Menu -->
                    @foreach (Category category in Model)
                    {
                        <li id="@category.Id"><a href="javascript:void(0)">@category.NameVn</a></li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</div>


<script>
    // $("li").click(function (event) {
    //     var id = $(this).attr("id");

    //     $.ajax({
    //         url: "/BaiThi",
    //         data: {
    //             categoryId: id,
    //         },
    //         success: function (response) {
    //             console.log($(response).find(".agile_top_brands_grids").html())
    //             $(".agile_top_brands_grids").html($(response).find(".agile_top_brands_grids").html());
    //         }

    //     })

    // })
</script>